.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  background-color: rgba(var(--primary-color), 0.1);
  border-bottom: 1px solid rgba(var(--primary-color), 0.5);
}
.topBar > div {
  padding: 10px;
}
.topBar > div:first-child {
  font-weight: bold;
  color: var(--highlight-color);
}
.topBar > div:last-child {
  cursor: pointer;
}

.prices {
  height: 50vh;
}
