.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  background-color: rgba(var(--primary-color), 0.1);
  border-bottom: 1px solid rgba(var(--primary-color), 0.5);
}
.topBar > div {
  padding: 10px;
}
.topBar > div:first-child {
  font-weight: bold;
  color: var(--highlight-color);
}
.topBar > div:last-child {
  cursor: pointer;
}

.prices {
  height: 50vh;
}

.orderBook {
  border-top: 1px solid rgba(var(--primary-color), 0.5);
  height: calc(50vh - 42px);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.orderBook > div {
  width: 50%;
  overflow-y: scroll;
}
.orderBook > div > div {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background-color: rgba(var(--txt-color), 0.01);
  border-bottom: 1px solid rgba(var(--txt-color), 0.2);
}
.orderBook > div > div > div {
  padding: 7px;
}
