.sidebar {
  background-color: rgb(var(--nav-bg-color));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  border-right: var(--nav-border);
  box-shadow: 0 1px 3px 0 rgba(var(--bg-color), 0.04);
}

.item {
  color: rgb(var(--sidebar-txt-color));
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  grid-column-gap: 10px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
.item:hover {
  background-color: rgba(var(--bg-color), 0.2);
}

.item div:first-child {
  color: var(--notification-color);
  font-weight: bold;
}
.item > div {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.search {
  margin: 5px 5px 10px 5px;
}

.empty {
  color: rgb(var(--sidebar-txt-color));
  font-size: 16px;
  padding: 10px;
}

.change-up {
  color: var(--success-color);
}
.change-down {
  color: rgb(var(--danger-color));
}
